Flask==2.3.3
Flask-Login==0.6.3
Werkzeug==2.3.7
reportlab==4.0.4
Flask-Mail==0.9.1
gunicorn==21.2.0
vercel==0.2.1
google-auth==2.23.4
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.1.1
requests==2.31.0
python-dotenv==1.0.1
